<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.0/jquery.js"></script>
  </head>
  <body>
    <img src="" alt="" id="img" />
    <button>button</button>
    <input type="text" id="id" value="5eb40ecc019655368446fa38" />
  </body>
  <script>
    const btn = document.querySelector('button');
    const socket = io('https://127.0.0.1:5050');
    let id = '';
    btn.onclick = function () {
      let info = {
        sendId: id, // 发送者id
        receiveId: $('#id').val(), // 接收者id
        msg: 'html', // 发送内容
      };
      socket.emit('chat', info);
    };
    socket.on('back', (data) => {
      const h1 = document.createElement('h1');
      h1.textContent = data.msg;
      document.body.appendChild(h1);
    });
    axios
      .get('https://127.0.0.1:5050/check', { withCredentials: true })
      .then((data) => {
        if (!data.data.status) {
          location.href = './login';
        }
        document
          .querySelector('#img')
          .setAttribute('src', data.data.data.headImg);
        id = data.data.data._id;
        console.log(id);
      });
  </script>
</html>
