<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.0/jquery.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.19.2/axios.min.js"></script>
  </head>
  <body>
    <input type="text" id="user" />
    <input type="password" name="" id="password" />
    <button id="login">登录</button>
    <button id="regi">注册</button>
    <script>
      $('#login').click(() => {
        axios
          .post('https://127.0.0.1/user/login', {
            userName: $('#user').val(),
            password: CryptoJS.MD5($('#password').val()).toString(),
          })
          .then((data) => {
            if (data.data.status === 1) {
              location.href = '/';
            }
          });
      });
      $('#regi').click(() => {
        axios
          .post('https://127.0.0.1/user/register', {
            userName: $('#user').val(),
            password: CryptoJS.MD5($('#password').val()).toString(),
          })
          .then((data) => {
            if (data.data.status === 1) {
              location.href = '/';
            }
          });
      });
    </script>
  </body>
</html>
